In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn import metrics
%matplotlib inline

In [2]:
stay_at_home_df = pd.read_csv("dataset/Stay at home.csv")

In [165]:
stay_at_home_df.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,DateTime_Out,Entity,Code,Right_Date,Stay at home requirements (OxBSG),Right_DateTime_Out
0,ARG,South America,Argentina,2020-03-11,19.0,7.0,1.0,0.0,0.420,0.155,...,5.5,16.2,27.7,76.67,2020-03-11,Argentina,ARG,"Mar 11, 2020",0,2020-03-11
1,ARG,South America,Argentina,2020-03-13,31.0,12.0,1.0,0.0,0.686,0.266,...,5.5,16.2,27.7,76.67,2020-03-13,Argentina,ARG,"Mar 13, 2020",0,2020-03-13
2,ARG,South America,Argentina,2020-03-14,34.0,3.0,2.0,1.0,0.752,0.066,...,5.5,16.2,27.7,76.67,2020-03-14,Argentina,ARG,"Mar 14, 2020",0,2020-03-14
3,ARG,South America,Argentina,2020-03-15,45.0,11.0,2.0,0.0,0.996,0.243,...,5.5,16.2,27.7,76.67,2020-03-15,Argentina,ARG,"Mar 15, 2020",0,2020-03-15
4,ARG,South America,Argentina,2020-03-16,56.0,11.0,2.0,0.0,1.239,0.243,...,5.5,16.2,27.7,76.67,2020-03-16,Argentina,ARG,"Mar 16, 2020",0,2020-03-16

In [167]:
cleaned_stay_at_home_df = stay_at_home_df[['location','date','total_cases','total_tests','stringency_index','positive_rate','Stay at home requirements (OxBSG)','total_deaths']]

In [168]:
cleaned_stay_at_home_df

,location,date,total_cases,total_tests,stringency_index,positive_rate,Stay at home requirements (OxBSG),total_deaths
0,Argentina,2020-03-11,19.0,158.0,25.00,0.151,0,1.0
1,Argentina,2020-03-13,31.0,282.0,25.00,0.126,0,1.0
2,Argentina,2020-03-14,34.0,331.0,25.00,0.098,0,2.0
3,Argentina,2020-03-15,45.0,410.0,25.00,0.112,0,2.0
4,Argentina,2020-03-16,56.0,510.0,41.67,0.107,0,2.0
...,...,...,...,...,...,...,...,...
8612,Zimbabwe,2020-07-25,2296.0,52007.0,80.56,0.077,2,32.0
8613,Zimbabwe,2020-07-26,2434.0,53346.0,80.56,0.080,2,34.0
8614,Zimbabwe,2020-07-27,2512.0,54831.0,80.56,0.070,2,34.0
8615,Zimbabwe,2020-07-28,2704.0,56000.0,80.56,0.074,2,36.0
8616,Zimbabwe,2020-07-29,2817.0,57791.0,80.56,0.070,2,40.0

In [169]:
cleaned_stay_at_home_df['cases_per_tests_ratio'] = cleaned_stay_at_home_df['total_cases']/cleaned_stay_at_home_df['total_tests']

/Users/yukon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [170]:
cleaned_stay_at_home_df

,location,date,total_cases,total_tests,stringency_index,positive_rate,Stay at home requirements (OxBSG),total_deaths,cases_per_tests_ratio
0,Argentina,2020-03-11,19.0,158.0,25.00,0.151,0,1.0,0.120253
1,Argentina,2020-03-13,31.0,282.0,25.00,0.126,0,1.0,0.109929
2,Argentina,2020-03-14,34.0,331.0,25.00,0.098,0,2.0,0.102719
3,Argentina,2020-03-15,45.0,410.0,25.00,0.112,0,2.0,0.109756
4,Argentina,2020-03-16,56.0,510.0,41.67,0.107,0,2.0,0.109804
...,...,...,...,...,...,...,...,...,...
8612,Zimbabwe,2020-07-25,2296.0,52007.0,80.56,0.077,2,32.0,0.044148
8613,Zimbabwe,2020-07-26,2434.0,53346.0,80.56,0.080,2,34.0,0.045627
8614,Zimbabwe,2020-07-27,2512.0,54831.0,80.56,0.070,2,34.0,0.045813
8615,Zimbabwe,2020-07-28,2704.0,56000.0,80.56,0.074,2,36.0,0.048286
8616,Zimbabwe,2020-07-29,2817.0,57791.0,80.56,0.070,2,40.0,0.048745

In [171]:
dummies_column = pd.get_dummies(cleaned_stay_at_home_df['Stay at home requirements (OxBSG)'])

In [172]:
cleaned_stay_at_home_df = cleaned_stay_at_home_df.join(dummies_column)

In [173]:
cleaned_stay_at_home_df.head()

,location,date,total_cases,total_tests,stringency_index,positive_rate,Stay at home requirements (OxBSG),total_deaths,cases_per_tests_ratio,0,1,2,3
0,Argentina,2020-03-11,19.0,158.0,25.00,0.151,0,1.0,0.120253,1,0,0,0
1,Argentina,2020-03-13,31.0,282.0,25.00,0.126,0,1.0,0.109929,1,0,0,0
2,Argentina,2020-03-14,34.0,331.0,25.00,0.098,0,2.0,0.102719,1,0,0,0
3,Argentina,2020-03-15,45.0,410.0,25.00,0.112,0,2.0,0.109756,1,0,0,0
4,Argentina,2020-03-16,56.0,510.0,41.67,0.107,0,2.0,0.109804,1,0,0,0

In [231]:
cleaned_stay_at_home_df.dtypes

location                              object
date                                  object
total_cases                          float64
total_tests                          float64
stringency_index                     float64
positive_rate                        float64
Stay at home requirements (OxBSG)      int64
total_deaths                         float64
cases_per_tests_ratio                float64
0                                      uint8
1                                      uint8
2                                      uint8
3                                      uint8
dtype: object

In [180]:
groupby_location_df = cleaned_stay_at_home_df.groupby('location',as_index=False)
separated_location_df = dict(iter(groupby_location_df))

dtype('float64')

In [236]:
def TimeSeriesTrainTestSplit(X, y, test_size):
    
        test_index = int(len(X)*(1-test_size))
        print('test_index',test_index)
        X_train = X.iloc[:test_index]
        y_train = y.iloc[:test_index]
        X_test = X.iloc[test_index:]
        y_test = y.iloc[test_index:]
        return X_train, y_train, X_test, y_test

def getScore(location_df):
    location_df['stringency_index'] = pd.to_numeric(location_df['stringency_index'])
    location_df = location_df.fillna('ffill')
    X = location_df[[0,1,2,3,'total_tests','total_deaths','stringency_index']]
    y = location_df['total_cases']
    X_train, y_train, X_test, y_test = TimeSeriesTrainTestSplit(X,y, 0.2)
    regr = linear_model.LinearRegression(fit_intercept=False) # Do not use fit_intercept = False if you have removed 1 column after dummy encoding
    print(X_train.shape, y_train.shape)
    regr.fit(X_train,y_train)
    model_score = regr.score(X_test,y_test)
    print(model_score)

In [237]:
locaiton_model_score = {}
for location in separated_location_df: 
    print(location)
    getScore(separated_location_df[location])

Argentina
test_index 112
(112, 7) (112,)

ValueError: could not convert string to float: 'ffill'

In [214]:
cleaned_stay_at_home_df[cleaned_stay_at_home_df['location'] == 'Belarus'].shape

(48, 13)

In [144]:
X[123]

0                        0.00
1                        0.00
2                        1.00
3                        0.00
total_tests         568795.00
total_deaths          2939.00
stringency_index        90.74
Name: 137, dtype: float64

In [162]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 7189.733236183673
Mean Squared Error: 110515732.9314548
Root Mean Squared Error: 10512.64633341457

0.8824157514955056