In [3]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.1.0-cp38-cp38-macosx_10_9_x86_64.whl (10.6 MB)
     |████████████████████████████████| 10.6 MB 2.5 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.1-cp38-cp38-macosx_10_9_x86_64.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 10.2 MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 30.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.19.1 pandas-1.1.0 pytz-2020.1
WARNING: You are using pip version 20.1.1; however, version 20.2.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [69]:
stay_at_home_df = pd.read_csv("World Data Stay at home order/Stay at home.csv")

In [70]:
stay_at_home_df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,DateTime_Out,Entity,Code,Right_Date,Stay at home requirements (OxBSG),Right_DateTime_Out
0,ARG,South America,Argentina,2020-03-11,19.0,7.0,1.0,0.0,0.420,0.155,...,5.50,16.2,27.7,76.67,2020-03-11,Argentina,ARG,"Mar 11, 2020",0,2020-03-11
1,ARG,South America,Argentina,2020-03-13,31.0,12.0,1.0,0.0,0.686,0.266,...,5.50,16.2,27.7,76.67,2020-03-13,Argentina,ARG,"Mar 13, 2020",0,2020-03-13
2,ARG,South America,Argentina,2020-03-14,34.0,3.0,2.0,1.0,0.752,0.066,...,5.50,16.2,27.7,76.67,2020-03-14,Argentina,ARG,"Mar 14, 2020",0,2020-03-14
3,ARG,South America,Argentina,2020-03-15,45.0,11.0,2.0,0.0,0.996,0.243,...,5.50,16.2,27.7,76.67,2020-03-15,Argentina,ARG,"Mar 15, 2020",0,2020-03-15
4,ARG,South America,Argentina,2020-03-16,56.0,11.0,2.0,0.0,1.239,0.243,...,5.50,16.2,27.7,76.67,2020-03-16,Argentina,ARG,"Mar 16, 2020",0,2020-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8612,ZWE,Africa,Zimbabwe,2020-07-25,2296.0,172.0,32.0,4.0,154.478,11.572,...,1.82,1.6,30.7,61.49,2020-07-25,Zimbabwe,ZWE,"Jul 25, 2020",2,2020-07-25
8613,ZWE,Africa,Zimbabwe,2020-07-26,2434.0,138.0,34.0,2.0,163.763,9.285,...,1.82,1.6,30.7,61.49,2020-07-26,Zimbabwe,ZWE,"Jul 26, 2020",2,2020-07-26
8614,ZWE,Africa,Zimbabwe,2020-07-27,2512.0,78.0,34.0,0.0,169.011,5.248,...,1.82,1.6,30.7,61.49,2020-07-27,Zimbabwe,ZWE,"Jul 27, 2020",2,2020-07-27
8615,ZWE,Africa,Zimbabwe,2020-07-28,2704.0,192.0,36.0,2.0,181.929,12.918,...,1.82,1.6,30.7,61.49,2020-07-28,Zimbabwe,ZWE,"Jul 28, 2020",2,2020-07-28
8616,ZWE,Africa,Zimbabwe,2020-07-29,2817.0,113.0,40.0,4.0,189.532,7.603,...,1.82,1.6,30.7,61.49,2020-07-29,Zimbabwe,ZWE,"Jul 29, 2020",2,2020-07-29

In [72]:
cleaned_stay_at_home_df = stay_at_home_df[['location','date','total_cases','total_tests','Stay at home requirements (OxBSG)']]

In [73]:
cleaned_stay_at_home_df

,location,date,total_cases,total_tests,Stay at home requirements (OxBSG)
0,Argentina,2020-03-11,19.0,158.0,0
1,Argentina,2020-03-13,31.0,282.0,0
2,Argentina,2020-03-14,34.0,331.0,0
3,Argentina,2020-03-15,45.0,410.0,0
4,Argentina,2020-03-16,56.0,510.0,0
...,...,...,...,...,...
8612,Zimbabwe,2020-07-25,2296.0,52007.0,2
8613,Zimbabwe,2020-07-26,2434.0,53346.0,2
8614,Zimbabwe,2020-07-27,2512.0,54831.0,2
8615,Zimbabwe,2020-07-28,2704.0,56000.0,2
8616,Zimbabwe,2020-07-29,2817.0,57791.0,2

In [74]:
cleaned_stay_at_home_df['cases_per_tests_ratio'] = cleaned_stay_at_home_df['total_cases']/cleaned_stay_at_home_df['total_tests']

<ipython-input-74-7495fc415623>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_stay_at_home_df['cases_per_tests_ratio'] = cleaned_stay_at_home_df['total_cases']/cleaned_stay_at_home_df['total_tests']

In [75]:
cleaned_stay_at_home_df

,location,date,total_cases,total_tests,Stay at home requirements (OxBSG),cases_per_tests_ratio
0,Argentina,2020-03-11,19.0,158.0,0,0.120253
1,Argentina,2020-03-13,31.0,282.0,0,0.109929
2,Argentina,2020-03-14,34.0,331.0,0,0.102719
3,Argentina,2020-03-15,45.0,410.0,0,0.109756
4,Argentina,2020-03-16,56.0,510.0,0,0.109804
...,...,...,...,...,...,...
8612,Zimbabwe,2020-07-25,2296.0,52007.0,2,0.044148
8613,Zimbabwe,2020-07-26,2434.0,53346.0,2,0.045627
8614,Zimbabwe,2020-07-27,2512.0,54831.0,2,0.045813
8615,Zimbabwe,2020-07-28,2704.0,56000.0,2,0.048286
8616,Zimbabwe,2020-07-29,2817.0,57791.0,2,0.048745

In [77]:
dummies_column = pd.get_dummies(cleaned_stay_at_home_df['Stay at home requirements (OxBSG)'])

In [84]:
cleaned_stay_at_home_df = cleaned_stay_at_home_df.join(dummies_column)